**/.git
**/.gitignore
**/.env
**/.env.*
**/node_modules
**/venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.coverage
**/htmlcov
**/*.pyc
**/*.pyo
**/*.pyd
**/dist
**/build
**/*.egg-info
**/alembic/versions/*.py
!**/alembic/versions/__init__.py
